In [1]:
import pandas as pd

In [9]:
products = pd.read_csv('Diwali_Sales_Data.csv',encoding='unicode_escape')

In [73]:
products[products['Product_ID']=='P00000142']

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
160,1002994,Hemant,P00000142,F,36-45,42,0,Madhya Pradesh,Central,IT Sector,Footwear & Shoes,2,20691.0,NaN,NaN
375,1005857,Shweta,P00000142,M,46-50,50,0,Karnataka,Southern,IT Sector,Furniture,4,20208.0,NaN,NaN
1164,1003232,Pauline,P00000142,F,36-45,43,1,Uttar Pradesh,Central,Chemical,Tupperware,2,16713.0,NaN,NaN
1891,1005264,Barbara,P00000142,F,18-25,22,0,Uttar Pradesh,Central,Retail,Food,4,15659.0,NaN,NaN
1916,1002799,Adrian,P00000142,F,18-25,19,1,Delhi,Central,Media,Food,1,15633.0,NaN,NaN
1980,1004840,Kinney,P00000142,M,46-50,50,0,Maharashtra,Western,Lawyer,Food,2,15572.0,NaN,NaN
2116,1003777,Trupti,P00000142,F,18-25,23,0,Karnataka,Southern,Food Processing,Food,3,15465.0,NaN,NaN
2162,1000623,McGrath,P00000142,F,26-35,30,0,Maharashtra,Western,IT Sector,Food,2,15415.0,NaN,NaN
2481,1001076,Armstrong,P00000142,M,26-35,34,1,Maharashtra,Western,Automobile,Sports Products,3,13598.0,NaN,NaN
3247,1003823,Denise,P00000142,F,55+,78,0,Uttar Pradesh,Central,Media,Food,4,11969.0,NaN,NaN
4188,1003259,Wardle,P00000142,M,18-25,18,0,Jharkhand,Eastern,Banking,Electronics & Gadgets,3,9991.0,NaN,NaN
5886,1002085,Siddharth,P00000142,F,18-25,24,0,Karnataka,Southern,Chemical,Food,2,8024.0,NaN,NaN
5889,1005375,Navdeep,P00000142,F,26-35,28,0,Uttar Pradesh,Central,Banking,Food,2,8023.0,NaN,NaN
6100,1002742,Sajal,P00000142,F,26-35,30,0,Maharashtra,Western,Media,Food,1,7950.0,NaN,NaN
6206,1003560,Lena,P00000142,M,26-35,27,1,Maharashtra,Western,IT Sector,Electronics & Gadgets,1,7911.0,NaN,NaN
6468,1001167,Sanjana,P00000142,M,51-55,51,1,Karnataka,Southern,Chemical,Electronics & Gadgets,3,7812.0,NaN,NaN
6490,1003380,Blumstein,P00000142,F,51-55,55,1,Rajasthan,Northern,Automobile,Food,3,7801.0,NaN,NaN
6502,1002109,Gelder,P00000142,M,26-35,30,0,Andhra Pradesh,Southern,Aviation,Electronics & Gadgets,4,7797.0,NaN,NaN
8437,1003589,Atkinson,P00000142,M,46-50,46,0,Uttar Pradesh,Central,Textile,Clothing & Apparel,3,5444.0,NaN,NaN
8719,1003349,Mansi,P00000142,M,18-25,21,0,Maharashtra,Western,IT Sector,Clothing & Apparel,1,5309.0,NaN,NaN
9293,1003842,Shivangi,P00000142,M,36-45,41,0,Karnataka,Southern,IT Sector,Food,3,4282.0,NaN,NaN
9730,1004546,Elijah,P00000142,F,26-35,31,1,Maharashtra,Western,IT Sector,Household items,1,3775.0,NaN,NaN
10589,1001303,Akshat,P00000142,M,26-35,27,1,Delhi,Central,IT Sector,Household items,2,2280.0,NaN,NaN
11072,1000685,Arun,P00000142,F,26-35,33,1,Delhi,Central,Hospitality,Veterinary,1,1394.0,NaN,NaN

In [78]:
products.groupby(['Product_ID','Age Group','Gender'])['User_ID'].count()

Product_ID  Age Group  Gender
P00000142   18-25      F         4
                       M         2
            26-35      F         5
                       M         4
            36-45      F         2
                                ..
P0099342    51-55      M         1
P0099442    26-35      F         1
                       M         2
            36-45      M         1
P0099742    0-17       F         1
Name: User_ID, Length: 7194, dtype: int64

In [63]:
products.groupby(['Product_ID','Age Group'])['User_ID'].count()

Product_ID  Age Group
P00000142   18-25        6
            26-35        9
            36-45        3
            46-50        3
            51-55        2
                        ..
P0099342    36-45        3
            51-55        1
P0099442    26-35        3
            36-45        1
P0099742    0-17         1
Name: User_ID, Length: 5882, dtype: int64